.sticky-sidebar {
    height: 100vh;
    background-color: #1f1f1f;
    padding: 20px;
}

.stiky-sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0;

    .sticky-sidebar__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px 0;
        color: #fff;
        font-size: 20px;
        width: 70px;
        height: 70px;
        aspect-ratio: 1 / 1;
        &:hover {
            background-color: rgba(128, 128, 128, 0.278);
            border-radius: 50%;
        }
    }
}